*.code-workspace

__pycache__/
*.pyc
*.backup*

archive/
*.html
!html_template.html

*.db
*.ipynb
*.env
.DS_Store
models/*
.cursor/rules/python-environment.mdc
config/secrets/*
assets/paperqa/*
assets/paperqa_archive/*
rg_papers_statistics/
