*.code-workspace

__pycache__/
*.pyc
*.backup*

archive/
*.html
!html_template.html

*.db
*.ipynb
*.env
.DS_Store
.cursor/*
assets/*  # ignore all files in assets dir. Actions will commit the DB files to GitHub. Will not be downloaded so as to not create conflicts with test runs.
paperqa_downloads/*
