# this is an example configuration file for a topic
# see config.yaml for global configuration options
name: "Demo"
description: "Demo topic, best demo of all time"

# Which feeds to process for this topic
feeds:
  - "cond-mat"
  - "nature"
  - "science"
  - "nat-mat"
  - "nat-nanotech"
  - "nat-phys"
  - "nat-chem"
  - "nat-ener"
  - "nat-catal"
  - "nat-chem-eng"
  - "nat-rev-phys"
  - "pnas"
  - "joule"
  - "prb"
  - "prl"
  - "prx"
  - "pr_res"
  - "nano-lett"
  - "acs-nano"
  - "acs-en-lett"
  - "en-env-sci"
  - "science-adv"
  - "sci-rep"
  - "nat-comm"
  - "comm-phys"
  - "comm-mater"
  - "scipost"
  - "small"
  - "adv-mater"
  - "adv-sci"
  - "adv-func-mater"
  - "adv-phys-res"
  - "national-sci-rev"
  - "npj-2d-mater"
  - "npj-comp-mater"
  - "npj-qmat"

# Regex filter
filter:
  pattern: 'graphe[a-z]+'
  fields: ["title", "summary"]

# Ranking configuration
ranking: 
  query: >   # Natural-language ranking query used for sentence-transformers similarity
    graphene, STM, scanning tunneling microscopy

  # Optional additional negative phrases to downweight (list may be empty)
  negative_queries: [erratum, correction, reply, corrigendum]

  # Preferred authors. Names in this list get a ranking boost. Order: First name (or initial), Last name.
  preferred_authors: [Example Eric]
  priority_author_boost: 0.2

  # Sentence-Transformers model used for ranking (can be overridden per topic)
  model: "all-MiniLM-L6-v2"

# Abstract fetch configuration
abstract_fetch:
  enabled: true
  rank_threshold: 0.2 # this overrides the global rank_threshold in config.yaml. Should be smaller than score_cutoff

# Output configuration
output:
  filename: "results_demo.html"
  filename_ranked: "results_demo_ranked.html"
  archive: true # archive the output file to the "matched_entries_history.db" database
